@import './variables.css'; /* variables.css 파일을 불러와 CSS 변수 사용 */

/* Section */
.profile-section {
    padding: 6% 7% 9% 7%;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }
  
  .profile-section h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }
  
  /* Layout */
  .header-wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    min-height: 80px;
  }
  
  /* Components */
  .quote,
  .content-toggle,
  .content {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
  }
  
  .quote {
    flex: 1;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.6;
    padding: 1.2rem 1.7rem;
    display: flex;
    align-items: center;
  }
  
  .content-toggle {
    flex-shrink: 0;
    padding: 1.7rem 2rem;
    margin: auto 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
    white-space: nowrap;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;  /* 부드러운 전환 효과 */
  }

  .content-toggle:hover {
    background-color: #0056b3;  /* hover 시 더 밝은 배경색 */
  }
  
  .content {
    width: 100%;
    padding: 0.5rem 0rem 2.5rem 0rem;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .content h3{
    color: #0056b3;  /* hover 시 더 밝은 배경색 */
    font-weight: #0056b3;  /* hover 시 더 밝은 배경색 */
    padding: 2rem 2.5rem 0rem 2.5rem;
  }
    
  .content p{
    padding: 0rem 2.5rem 0rem 2.5rem;
  }
  .toggle-icon {
    transition: transform 0.3s ease;
  }
  
  .toggle-icon.expanded {
    transform: rotate(180deg);
  }
  
  /* Mobile */
  @media (max-width: 768px) {
    .profile-section {
      padding: 3rem 2rem;
    }
  
    .profile-section h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  
    .header-wrapper {
      flex-direction: column;
      gap: 1rem;
    }
  
    .quote,
    .content-toggle {
      width: 100%;
      padding: 1rem 1.5rem;
    }
  
    .quote {
      font-size: 1.1rem;
    }
  }